#contact-info {
font-size:.8em;
}

.job{
  background-color:#e9e5dc;
  border-radius: 5px;
  padding: 4px;
  margin-top: 17px;]
}

.testing{
font-size:.8em;
}

.testing .katie{
font-size:10px;
font-family:"Arial";
}
Status API Training Shop Blog About
